div{
	width: 400px;
	border-width: 1px;
	border-style: solid;
	padding-bottom: 10px;
	margin: 20px;
}
.botao{
	text-align: center;
	padding: 5px;
}
form{
	display:table;
}
form span{
	display: table-row;
}
form label{
	display:table-cell;
}
form input{
	display:table-cell;
}
